<%= form_for(@app_config) do |f| %>
  <% if @app_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app_config.errors.count, "error") %> prohibited this app_config from being saved:</h2>

      <ul>
      <% @app_config.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rulebook_name %><br />
    <%= f.text_field :rulebook_name %>
  </div>
  <div class="field">
    <%= f.label :front_page %><br />
    <%= f.text_area :front_page %>
  </div>
  <div class="field">
    <%= f.label :faq %><br />
    <%= f.text_area :faq %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
