%h1 Configure Rulebook Application
%table
  %tr
    %th Rulebook name
    %th Front page text
    %th Faq
    %th Copyright
    %th
    %th
    %th
  - @app_configs.each do |app_config|
    %tr
      %td= app_config.rulebook_name
      %td= app_config.front_page
      %td= app_config.faq
      %td= app_config.copyright
      %td= link_to 'Show', app_config
      %td= link_to 'Edit', edit_app_config_path(app_config)
      %td= link_to 'Destroy', app_config, confirm: 'Are you sure?', method: :delete
%br
= link_to 'New App config', new_app_config_path
