%p
  %b Rulebook name:
  = @app_config.rulebook_name
%p
  %b Front page:
  %br
  = raw(@app_config.front_page)
%p
  %b Faq:
  %br
  = raw(@app_config.faq)
%b Copyright:
%br
= raw(@app_config.copyright)
= link_to 'Edit', edit_app_config_path(@app_config)
|
= link_to 'Back', app_configs_path
