%h1= @discussion.title

= @discussion.body.try(:html_safe)

- if @discussion.proposal
  This discussion has an associated proposal.
  = link_to "View Proposal Details here", proposal_path(@discussion.proposal)
%hr
%h3 Comments about this discussion:
- @discussion.comments.each do |comment|
  = render :partial => "/comments/show", :object => comment
- if can? :create, @comment
  = render :partial => "/comments/form", :object => @comment
