%h1= @discussion.title

- if @discussion.proposal
  %div
    This discussion has an associated proposal.
    = link_to "View Proposal Details here", proposal_path(@discussion.proposal)
- if can? :close, @discussion
  .admin_action
    = link_to "Close this discussion", close_discussion_path(@discussion), method: :put, data: { confirm: "This will prevent future comments and proposals based on this discussion. Continue?" }
%hr

%h3 Comments about this discussion:
= render partial: "start_of_discussion", locals: { discussion: @discussion }

- @discussion.comments.each do |comment|
  = render :partial => "/comments/show", :object => comment
- if can? :create, @comment
  = render :partial => "/comments/form", :object => @comment
