Comment Added:

\#{raw strip_tags @comment}


\--
\#{@user} - #{@voting_status}__________________________________________________________
Discussion #{@discussion.id.to_s} can be viewed at:

= discussion_url(@discussion)
