Comment Added:

\#{raw strip_tags @comment}


\--
\#{@user} - #{@voting_status}__________________________________________________________
= link_to "Discussion #{@discussion.id.to_s}", discussion_url(@discussion)
.
