The following proposal has been revised:
Title: #{raw @proposal.title}
URL: #{proposal_url(@proposal)}


Changes made:
\#{raw strip_tags @change_description}

PROPOSAL:
\#{raw strip_tags @rule_text}

BODY:
\#{raw strip_tags @body}
