%b The following proposal has been revised:
%h2
  Title: #{@proposal.title}
= link_to proposal_url(@proposal), proposal_url(@proposal)
%h2 Changes made:
= simple_format @change_description
%h2 Proposal:
= simple_format @rule_text
%h2 Body:
= simple_format @body
