= form_for(@rulebook, url: configuration_path(@rulebook)) do |f|
  - if @rulebook.errors.any?
    #error_explanation
      %h2
        = pluralize(@rulebook.errors.count, "error")
        prohibited this rulebook from being saved:
      %ul
        - @rulebook.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :rulebook_name
    %br
    = f.text_field :rulebook_name
  .field
    = f.label :subdomain
    %br
    = f.object.subdomain
    (this cannot be modified after creation)
  .field
    = f.label :front_page
    %br
    = f.text_area :front_page, class: "js--wysiwyg"
  .field
    = f.label :faq
    %br
    = f.text_area :faq, class: "js--wysiwyg"
  .field
    = f.label :copyright
    %br
    = f.text_field :copyright
  .field
    = f.label :proposals_allowed
    %br
    = f.check_box :proposals_allowed
  .field
    = f.label :voting_days
    %br
    = f.number_field :voting_days
  .field
    = f.label :review_days
    %br
    = f.number_field :review_days
  .actions
    = f.submit
