%p
  %b Rulebook name:
  = @rulebook.rulebook_name
%p
  %b Subdomain
  = @rulebook.subdomain
%p
  %b Proposals Allowed:
  = @rulebook.proposals_allowed
%p
  %b Voting Days:
  = @rulebook.voting_days
%p
  %b Review Days:
  = @rulebook.review_days
%p
  %b Front page:
  %br
  = raw(@rulebook.front_page)
%p
  %b Faq:
  %br
  = raw(@rulebook.faq)
%b Copyright:
%br
= raw(@rulebook.copyright)

%br
%br
= link_to 'Edit', edit_configuration_path(@rulebook)
|
= link_to 'Back', welcome_index_all_path

%br
= link_to "Destroy", configuration_path(@rulebook), method: :delete, data: { confirm: "This will delete this whole domain, all users, all proposals, ALL. Are you sure?" }
