%h1 Create Many users at once

= semantic_form_for :new_users, url: bulk_users_path, action: :post do |form|
  = form.inputs do
    = form.input :emails, as: :text, label: "Comma-delimited emails"
  = form.actions do
    = form.action :submit, :label => 'Create Accounts and send e-mails'
