    <div class="field">
        <%= form.label :background %><br />
        <div class="detail">(tell us a bit about what you're proposing)</div>
        <%= form.text_area :background %>
    </div>

    <div class="field">
        <%= form.label :body %><br />
        <div class="detail">(Please outline your proposal as clearly as possible)</div>
        <%= form.text_area :body %>
    </div>

    <div class="field">
        <%= form.label :references %><br />
        <div class="detail">
        (add here the old rule or a URLs to previous proposals or other documents if it is a new rule, separate with return)
        </div>
        <%= form.text_area :references %>
    </div>
