- $MAX_CHARACTERS = 500
.field
  = form.label :background
  %br
  .detail
    (short overview what will be changed, max 500 characters)
    %br
    You have
    %input{:name => "countdown", :readonly => "", :size => "3", :type => "text", :value => $MAX_CHARACTERS}/
    characters left.
  = form.text_area :background, {:onKeyDown => "limitText(this.form.revision_background, this.form.countdown, " + $MAX_CHARACTERS.to_s + ");", |
    :onKeyUp => "limitText(this.form.revision_background, this.form.countdown, " + $MAX_CHARACTERS.to_s + ");"}                                |
.field
  = form.label :rule_text, 'Proposal'
  %br
  .detail (old and new rule with chapter number)
  = form.text_area :rule_text
.field
  = form.label :body
  %br
  .detail (more detailed explanation)
  = form.text_area :body
.field
  = form.label :references
  %br
  .detail
    (additional references if needed)
  = form.text_area :references
