    <div class="field">
    <%= form.label :background %>
    <%= form.text_area :background %>
    </div>

    <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
    </div>

    <div class="field">
    <%= form.label :references %>
    <%= form.text_area :references %>
    </div>
