<% $MAX_CHARACTERS = 500 %>
    <div class="field">
        <%= form.label :background %><br />
        <div class="detail">(short overview what will be changed, max 500 characters)<br />
          You have <input readonly type="text" name="countdown" size="3" value="<%= $MAX_CHARACTERS %>"> characters left.
        </div>
        <%= form.text_area :background, {:onKeyDown => "limitText(this.form.revision_background, this.form.countdown, " + $MAX_CHARACTERS.to_s + ");",
          :onKeyUp => "limitText(this.form.revision_background, this.form.countdown, " + $MAX_CHARACTERS.to_s + ");"}  %>
    </div>

    <div class="field">
        <%= form.label :rule_text, 'Proposal' %><br />
        <div class="detail">(old and new rule with chapter number)</div>
        <%= form.text_area :rule_text %>
    </div>

    <div class="field">
        <%= form.label :body %><br />
        <div class="detail">(more detailed explanation)</div>
        <%= form.text_area :body %>
    </div>

    <div class="field">
        <%= form.label :references %><br />
        <div class="detail">
          (additional references if needed)
        </div>
        <%= form.text_area :references %>
    </div>
