<h1>Listing revisions</h1>

<table>
  <tr>
    <th>Proposal</th>
    <th>Body</th>
    <th>Background</th>
    <th>References</th>
    <th>Change Description</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @revisions.each do |revision| %>
  <tr>
    <td><%= revision.proposal %></td>
    <td><%= revision.body %></td>
    <td><%= revision.background %></td>
    <td><%= revision.references %></td>
    <td><%= revision.change_description %></td>
    <td><%= revision.user_id %></td>
    <td><%= link_to 'Show', revision %></td>
    <td><%= link_to 'Edit', edit_revision_path(revision) %></td>
    <td><%= link_to 'Destroy', revision, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Revision', new_revision_path %>
