<h1>Frequently Asked Questions</h1>
<% if not @config.nil? and not @config.faq.blank? %>
  <%= raw @config.faq %>
<% else %>

<p>If you have a question that's not already answered below about this web application and how this committee is being ran, please email <a href="mailto:<%= @contactemail %>"><%= @contactname %></a>!</p>
<dl>
<dt><b>How do I join the committee?</b></dt>
<dd>To join <%= @committeename %>, you'll need to fill out the <%= link_to('join form', new_user_session_path) %> by 1 April. Once you fill out the form, an email will be sent to you so that you can confirm your email address. After confirming your email address, you'll be able to make comments and post new proposals.</dd>
<dt><b>How do I make a new proposal?</b></dt>
<dd>To make a new proposal, just fill out this <%= link_to('form', new_proposal_path) %>. Once a new proposal is submitted, it needs to be verified by the committee chairman. You'll be able to edit your proposal during the review stage.</dd>
<dt><b>How do I change my vote?</b></dt>
<dd>If you voted incorrectly or decide you want to change your vote, you may change it before the voting period ends by contacting <%= @contactname %> via email at <a href="mailto:<%= @contactemail %>"><%= @contactemail %></a>.</dd>

</dl>
<h2>How the Committee Works</h2>
<h3>Making a proposal</h3>
<p>The first part of a proposal is submitting it to the committee by filling out the <%= link_to('new proposal form', new_proposal_path) %>.
When filling it out, there are 3 main parts to it, the title, background, and the proposal body. In the background, put in details about why this proposal is being presented to the committee and what it solves or how it works. In the proposal body, write out the proposal as concisely and precisely as you can.Additional notes can, for instance, be references to other sports or record keeping organisations (eg Guinness World Records or the UCI), and what they do with respect to their particular records.
</p>
<h3>Chairman Approving Proposal</h3>
<p>Once a proposal is submitted, it wont be visible on the main page except to the committee chairperson and the proposal owner. The committee chairperson will then approve it after checking that it's complete or waiting until a time that is more suitable for that proposal (such as if there are already too many proposals being discussed or it conflicts with another proposal currently being discussed or voted on). Contact the chairperson if you have any questions about a proposal you submitted that hasn't been approved yet.</p>

<h3>Review Period</h3>
<p>Once a proposal is approved, it'll be in the review period. This period (currently <%= @REVIEWTIME_TEXT %>) allows the proposal owner to get feedback about their proposal before it goes to a vote. The proposal is a draft and can be edited (or Set-Aside) at any time by the proposal owner based on feedback that is given. This is the time where you should speak up if you think something needs to change in the proposal. This is the main difference in the new system (other than it being automated on the web) and allows everyone to contribute to the proposal to help make it better represent what the committee wants before going up for a vote.</p>

<h3>Pre-Voting Period</h3>
<p>After <%= @REVIEWTIME_TEXT %> have passed in review, the proposal will move to Pre-Voting. The owner can decide whether to Set-Aside the proposal, put it to vote, or to make another revision. If a revision is made, the proposal will return to Review for <%= @REVISIONTIME_TEXT %>.</p>

<h3>Voting Period</h3>
<p>Once the proposal owner decides to put it up for a vote, the propoal is locked in and can't be edited while everyone on the committee posts their votes on the proposal website within a period of <%= @VOTETIME_TEXT %>. The votes will be tallied and displayed on the proposal page during this time.</p>

<h3>Passed/Failed</h3>
<p>Once either all committee members have voted or the voting time period has
ended, the votes are tabulated. Votes of 'abstain' and non-votes are not
counted. For a proposal to pass, it requires a <%= @majority_text %> majority of the votes
received. At least 50% of the voting members must also vote for a proposal to pass. 
<% if (@majority) %> The committee decided on this majority to make sure a larger
portion of the committee is in agreement with any proposal that passes. <% end %> The
proposal will be marked as either passed or failed. If it passed, it will
then be presented with all the other passed proposals to the Officers for
final approval.</p>
<% end %>

<h2>Update Password</h2>
<%= link_to 'Update Password', edit_user_registration_path %>

<h2>Contact Me</h2>
<p>If you are having any problems, please feel free to send me an email to contact me.
<a href="mailto:unicycling@dunlopweb.com">unicycling@dunlopweb.com</a>

