<h1>Welcome to the IUF World Records Committee</h1>

<p>
This committee has been set up to achieve the following objectives:
</p>

<ol>
<li> To establish the general parameters for setting an IUF World record (eg measurement, witnesses, documentation)</li>
<li> To establish which records the IUF will recognise</li>
<li> To establish event-specific rules for records that the IUF recognises</li>
<li> To establish liaison officers/representatives on the IUF board who will approve and certify records and maintain the records database</li>
<li> To document existing Unicycling Records on the IUF website</li>
<li> To have an IUF certificate or other recognition for World Record achievers</li>
</ol>

<p>
As they are completed, these proposals will be submitted to the IUF Board for approval.
<br />

Please familiarise yourself with the IUF Rulebook prior to starting discussion on the committee:
<a href="/IUF_Rules_2012_english.pdf">IUF Rulebook 2012</a>
<br />
<br />

<b>Deadlines</b>

<br />

<i>1 April</i>
To have the IUF World Record Committee established. To discuss the ideas and goals of the committee. 
<br />

<i>1 May</i>
To establish general parameters for setting a record: measurement, witnesses, documentation, particularly outside of UNICON
<br />

<i>1 June</i>
To establish which records the IUF will recognise
<br />

<i>1 July</i>
To establish event specific rules (if necessary) for each individual record
<br />

<i>1 August</i>
To establish IUF record liaison officers. Responsible for updating UNICON record database, website, and liaising with people who want to set records, and approving of materials submitted as evidence of a world record. Will likely be working on the historical records also.

<br />
<i>1 August-1 October</i>
To establish a working group looking at historical records for inclusion in the database and UNICON Website
<br />

<i>1 October</i>
To have an up-to-date database of historical Unicycling World Records (NB these are not necessarily done to the new IUF criteria)
To publicise the IUF Record Criteria and Liaison officers to the wider Unicycling Committee.
<br />
</p>

<% if @proposals.empty? %>
    <hr><h2>No proposals exist yet, but a <%= link_to('new proposal', new_proposal_path) %> can be created.</h2>
<% else %>
  <% @committees.each do |committee| %>
    <h2>Committee: <%= committee %></h2>
  <% @filter_proposals = @proposals.select {|p| p.committee == committee } %>
    <%= render :partial => "/proposals/display_summary", :locals => {:proposals => @filter_proposals, :status => 'Submitted', :header => 'New Unapproved Proposals:', :status_text => '', :votes => @user_votes} %>
    <%= render :partial => "/proposals/display_summary", :locals => {:proposals => @filter_proposals, :status => 'Review', :header => 'Proposals for Review:', :status_text => 'These proposals are currently being reviewed. Please comment on these so that the proposal will better represent what you want when it reaches the voting stage.', :votes => @user_votes } %>
    <%= render :partial => "/proposals/display_summary", :locals => {:proposals => @filter_proposals, :status => 'Pre-Voting', :header => 'Pre Voting Proposals:', :status_text => 'These proposals were in the review stage and are awaiting the final revision by the owner before it will be put in the voting stage.', :votes => @user_votes } %>
    <%= render :partial => "/proposals/display_summary", :locals => {:proposals => @filter_proposals, :status => 'Tabled', :header => 'Recent Set-Aside Proposals:', :status_text => 'These proposals were were Set-Aside.', :votes => @user_votes } %>
    <%= render :partial => "/proposals/display_summary", :locals => {:proposals => @filter_proposals, :status => 'Voting', :header => 'Proposals Being Voted On:', :status_text => 'These proposals are currently in the voting process.', :votes => @user_votes } %>
    <%= render :partial => "/proposals/display_summary", :locals => {:proposals => @filter_proposals, :status => 'Passed', :header => 'Recent Passed Proposals:', :status_text => 'These proposals were passed by the committee', :votes => @user_votes } %>
    <%= render :partial => "/proposals/display_summary", :locals => {:proposals => @filter_proposals, :status => 'Failed', :header => 'Recent Failed Proposals:', :status_text => 'These proposals have failed when voted on by the committee', :votes => @user_votes } %>
  <% end %>
<% end %>
