%h1 Listing committees
%table
  %tr
    %th Name
    %th Preliminary Committee?
    %th Committee Members
    %th
    %th
  - @committees.each do |committee|
    %tr
      %td= link_to committee.name, committee
      %td= committee.preliminary ? 'yes' : 'no'
      %td
        - if policy(CommitteeMember.new(committee: committee)).show?
          = link_to('Show Members', committee_committee_members_path(committee))
      %td
        - if policy(committee).edit?
          = link_to 'Edit', edit_committee_path(committee)
      %td
        - if policy(committee).destroy?
          = link_to 'Destroy', committee, data: {confirm: 'Are you sure?'}, method: :delete
%br
- if policy(Committee).create?
  = link_to 'New Committee', new_committee_path
