%h1 Listing committees
%table
  %tr
    %th Name
    %th Preliminary Committee?
    %th Committee Members
    %th
    %th
  - @committees.each do |committee|
    %tr
      %td= committee.name
      %td= committee.preliminary ? 'yes' : 'no'
      %td
        - if can? :read, committee
          = link_to('Show Members', committee_committee_members_path(committee))
      %td
        - if can? :edit, committee
          = link_to 'Edit', edit_committee_path(committee)
      %td
        - if can? :destroy, committee
          = link_to 'Destroy', committee, confirm: 'Are you sure?', method: :delete
%br
- if can? :create, Committee
  = link_to 'New Committee', new_committee_path
