%h1 Committee Members
- @committees.each do |committee|
  %h2= "Committee: " + committee.to_s
  - committee.committee_members.each do |member|
    %b= member.user
    (#{member.voting_text}) - #{member.user.location}
    %br
%hr
%h2 All Members
- @users.each do |user|
  %b= user
  \- #{user.location}
  - if policy(user).edit?
    = link_to "Edit", edit_user_path(user)
  - if policy(user).destroy?
    = link_to "Destroy", user_path(user), data: { confirm: "Are you sure?" }, method: :delete
  %br
