<h1>Committee Members</h1>
<% @committees.each do |committee|
    %>
    <h2><%= "Committee: " + committee.to_s %></h2>
    <% committee.committee_members.each do |member| %>
        <b><%= member.user.name %></b> (<%= member.user.voting_text(committee) %>) - <%= member.user.location %><br />
    <% end %>
<% end %>
<hr />
<h2>All Members</h2>

<% @users.each do |user| %>
    <b><%= user.name %></b> - <%= user.location %><br />
<% end %>

