= form_for([@committee, @proposal]) do |f|
  - if @proposal.errors.any? or @revision.errors.any?
    #error_explanation
      - if @proposal.errors.any?
        %h2
          = pluralize(@proposal.errors.count, "error")
          prohibited this proposal from being saved:
        %ul
          - @proposal.errors.full_messages.each do |msg|
            %li= msg
      - if @revision.errors.any?
        %h2
          = pluralize(@revision.errors.count, "error")
          prohibited this proposal from being saved:
        %ul
          - @revision.errors.full_messages.each do |msg|
            %li= msg
  .field
    %label{for: "nothing"} Committee:
    #{@committee}
  .field
    = f.label :title
    = f.text_field :title
  .field
    %label{for: "nothing"} Owner:
    = @proposal_owner.to_s
  = fields_for(@revision) do |g|
    = render :partial => "/revisions/form", :object => g
  .actions
    = f.submit
