<%= form_for(@proposal) do |f| %>
  <% if @proposal.errors.any? or @revision.errors.any? %>
    <div id="error_explanation">
     <% if @proposal.errors.any? %>
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
     <% end %>
     <% if @revision.errors.any? %>
      <h2><%= pluralize(@revision.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% @revision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
     <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :committee_id %>
    <%= f.select(:committee_id, @committees.map{ |e| [e, e.id]}) %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <label for="nothing">Owner:</label> <%= @proposal.owner.to_s %>
  </div>

  <%= fields_for(@revision) do |g| %>
    <%= render :partial => "/revisions/form", :object => g %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
