<% @proposal = proposal
   @revision = revision %>

<h2>Proposal <%= @proposal.id %>: <%= @proposal.title %>
    <small>[ Revision <%= @revision.num %> ]</small>
</h2>

<b>Committee:</b> <%= @proposal.committee %><br />
<% if can? :read_usernames, @proposal %>
    <b>Owner:</b> <%= @proposal.owner %><br />
<% end %>
<b>Submitted</b> on <%= @proposal.submit_date %><br />
<b>Status:</b> <strong><%= @proposal.status_string %></strong><br />

<!-- options -->
<% if can? :set_review, @proposal %>
    <b><i>Options to admin:</i></b>
    <% if @proposal.status == 'Submitted' %>
        <%= link_to('Approve', set_review_proposal_path(@proposal), :method => :put) %>
        |
    <% elsif @proposal.status == 'Tabled' %>
        <%= link_to('Un-Table (return to discussion)', set_review_proposal_path(@proposal), :method => :put) %>
        |
    <% elsif @proposal.status == 'Voting' %>
        <%= link_to('Modify Votes', proposal_votes_path(@proposal)) %>
        |
        <%= link_to('Change Back to Pre-Voting', set_pre_voting_proposal_path(@proposal), confirm: 'Doing this will remove all votes and revert the proposal back to Pre-Voting. (You MUST change the Dates too, or else it will move back to Voting again tonight)') %>
        |
    <% end %>

    <%= link_to('Modify Proposal Title/Committee/Status/Dates', edit_proposal_path(@proposal)) %>
    |
    <% #= link_to('Change Committee', modify_dates_proposal_path(@proposal)) 
    %>
    <br />
<% end %>

<% if can? :revise, @proposal %>
    <b><i>Options to owner:</i></b>
    <% if @proposal.status == 'Pre-Voting' %>
          <%= link_to 'Call for Votes', set_voting_proposal_path(@proposal), :method => :put %>
          |
    <% end %>
    <% #  XXX move into model?
    %>
    <% if @proposal.status == 'Submitted' or
          @proposal.status == 'Review' or
          @proposal.status == 'Pre-Voting' %>
          <%= link_to('Table', table_proposal_path(@proposal), :method => :put) %>
          |
          <% if can? :revise, @proposal %>
            <%= link_to 'Revise', new_proposal_revision_path(@proposal) %> |
          <% end %>
    <% else %>
        No Options in this stage.
    <% end %>
<% end %>
<br />

<% # Display Voting Options 
%>
<% if not @vote.nil? %>
    <% if not @vote.new_record? %>
      <% # if vote already exists for this user
      %>
      <b>You have already voted:</b> <strong>
      <%= @vote.vote %></strong><br />
    <% else %>
        <%= render :partial => "/votes/form", :object => @vote %>
    <% end %>
<% end %>

<hr />
<%= render :partial => "/proposals/proposal_details", :locals => {:proposal => @proposal, :revision => @revision } %>

<% if @proposal.revisions.count > 1 %>
    <hr />
    <h3>Change Log:</h3>
    <dl>
        <% @proposal.revisions.each do |rev| %>
            <dt><b><% if can? :read, rev %>
                <%= link_to('Revision ' + rev.num.to_s, proposal_revision_path(@proposal, rev)) %>
            <% else %>
                <%= 'Revision ' + rev.num.to_s %>
            <% end %>
            changed by <i><%= rev.user.to_s %></i> on <i><%= rev.created_at.to_s(:long) %></i>
            </b></dt>
            <dd><%= rev.change_description %></dd>
        <% end %>
    </dl>
<% end %>


<% if @proposal.votes.count > 0 %>
    <hr />
    <%= render :partial => "/proposals/vote_summary", :object => @proposal %>
    <p>
    <% @proposal.votes.each do |v| %>
        <% if can? :read, v %>
            <%= render :partial => "/votes/show", :object => v %>
        <% end %>
    <% end %>
    </p>
<% end %>

<% @comments = @proposal.comments %>
<% if not @comments.empty? %>
    <hr />
    <h3>Comments about this proposal:</h3>
    <% @comments.each do |comment| %>
        <%= render :partial => "/comments/show", :object => comment %>
    <% end%>
<% end %>
<% if can? :create, @comment %>
    <%= render :partial => "/comments/form", :object => @comment %>
<% end %>
