%h1 Revise dates and status of proposal
%p Please enter all the details below for revising your proposal.
%h2
  Please use the
  %u Options
  on the #{link_to 'Proposal page', proposal_path(@proposal)} instead of this page whenever possible. Those options are more stable.
= form_for(@proposal) do |f|
  - if @proposal.errors.any?
    #error_explanation
      %h2
        = pluralize(@proposal.errors.count, "error")
        prohibited this proposal from being saved:
      %ul
        - @proposal.errors.full_messages.each do |msg|
          %li= msg
  .field
    Proposal ID: #{@proposal.id.to_s}
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :committee_id
    = f.select(:committee_id, @committees.map {|c| [c.to_s, c.id]})
  .field
    = f.label :status
    = f.select(:status, [['Submitted'],['Review'],['Pre-Voting'],['Voting'],['Set-Aside', 'Tabled'],['Passed'],['Failed']])
  .field
    = f.label :review_start_date
    = f.date_select :review_start_date
    = f.label :review_end_date
    = f.date_select :review_end_date
  .field
    = f.label :vote_start_date
    = f.date_select :vote_start_date
    = f.label :vote_end_date
    = f.date_select :vote_end_date
  .field
    = f.label :tabled_date
    = f.date_select :tabled_date
  .actions
    = f.submit
= link_to 'Show', @proposal
|
