<p id="notice"><%= notice %></p>

<h2>Proposal <%= @proposal.id %>: <%= @proposal.title %>
    <small>[ Revision <%= @proposal.latest_revision_number %> ]</small>
</h2>

<b>Committee:</b> <%= @proposal.committee %><br />
<b>Owner:</b> <%= @proposal.owner %><br />
<b>Submitted</b> on <%= @proposal.submit_date %><br />
<b>Status:</b> <strong><%= @proposal.status_string %></strong><br />

<!-- options -->
<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>

<hr />
<h3>Background</h3>
<% # XXX must support multiple revisions?
%>
<%= @proposal.background %>

<hr />
<h3>Proposal</h3>
<%= @proposal.body %>

<hr />
<h3>References</h3>
<%= @proposal.references %>

<%= render :partial => "/comments/form", :object => @comment %>
