<p id="notice"><%= notice %></p>

<h2>Proposal <%= @proposal.id %>: <%= @proposal.title %>
    <small>[ Revision <%= @proposal.latest_revision_number %> ]</small>
</h2>

<b>Committee:</b> <%= @proposal.committee %><br />
<b>Owner:</b> <%= @proposal.owner %><br />
<b>Submitted</b> on <%= @proposal.submit_date %><br />
<b>Status:</b> <strong><%= @proposal.status_string %></strong><br />

<!-- options -->
<% if can? :approve, @proposal %>
    <b><i>Options to admin:</i></b>
    <% if @proposal.status == 'Submitted' %>
        <%= link_to('Approve', approve_proposal_path(@proposal)) %>
        |
    <% elsif @proposal.status == 'Tabled' %>
        <%= link_to('Un-Table (return to discussion)', approve_proposal_path(@proposal)) %>
        |
    <% elsif @proposal.status == 'Voting' %>
        <%= link_to('Modify Votes', modify_votes_proposal_path(@proposal)) %>
        |
        <%= link_to('Change Back to Pre-Voting', set_pre_voting_proposal_path(@proposal)) %>
        |
    <% end %>

    <%= link_to('Modify Dates', edit_proposal_path(@proposal)) %>
    |
    <%= link_to('Change Committee', modify_dates_proposal_path(@proposal)) %>
    <br />
<% end %>

<% if can? :manage, @proposal %>
    <b><i>Options to owner:</i></b>
    <% if @proposal.status == 'Pre-Voting' %>
          <%= link_to 'Call for Votes', call_for_votes_proposal_path(@proposal) %>
    <% end %>
    <% #  XXX move into model?
    %>
    <% if @proposal.status == 'Submitted' or
          @proposal.status == 'Review' or
          @proposal.status == 'Pre-Voting' %>
          <%= link_to 'Table', table_proposal_path(@proposal) %>
          |
          <%= link_to 'Revise', new_proposal_revision_path(@proposal) %> |
    <% end %>
<% end %>

<% # Display Voting Options 
%>
<% if not @vote.nil? %>
    <% if not @vote.new_record? %>
      <% # if vote already exists for this user
      %>
      <b>You have already voted:</b> <strong>
      <%= @vote.vote %></strong><br />
    <% else %>
        <%= render :partial => "/votes/form", :object => @vote %>
    <% end %>
<% end %>

<hr />
<h3>Background</h3>
<% # XXX must support multiple revisions?
%>
<p><%= @proposal.background %></p>


<% # XXX must be admin?
%>
<hr />
<h3>Additional Notes</h3>
<p><%= @proposal.summary %></p>

<hr />
<h3>Proposal</h3>
<p><%= @proposal.body %></p>

<hr />
<h3>References</h3>
<p><%= @proposal.references %></p>

<% if @proposal.revisions.count > 1 %>
    <hr />
    <h3>Change Log:</h3>
    <dl>
        <% @proposal.revisions.each do |rev| %>
            <dt><b><%= link_to('Revision' + rev.id.to_s, proposal_revision_path(@proposal, rev)) %>
            changed by <i><%= rev.user.to_s %></i> on <i><%= rev.created_at.to_s(:long) %></i>
            </b></dt>
            <dd><%= rev.change_description %></dd>
        <% end %>
    </dl>
<% end %>


<% if @proposal.votes.count > 0 %>
    <hr />
    <h3>Votes on this proposal:</h3>
    <b>Agree:</b> <strong><%= @proposal.agree_votes %></strong>, 
    <b>Disagree:</b> <strong><%= @proposal.disagree_votes %></strong>, 
    <b>Abstain:</b> <strong><%= @proposal.abstain_votes %></strong>.
    <p><%= @proposal.vote_comments %></p>
<% end %>

<% @comments = @proposal.comments %>
<% if not @comments.empty? %>
    <hr />
    <h3>Comments about this proposal:</h3>
    <% @comments.each do |comment| %>
        <%= render :partial => "/comments/show", :object => comment %>
    <% end%>
<% end %>
<%= render :partial => "/comments/form", :object => @comment %>
