= form_for(@rulebook) do |f|
  - if @rulebook.errors.any?
    #error_explanation
      %h2
        = pluralize(@rulebook.errors.count, "error")
        prohibited this rulebook from being saved:
      %ul
        - @rulebook.errors.full_messages.each do |msg|
          %li= msg
  .field
    = label_tag :access_code, "Rulebook Creation Access Code (get this from the site admin)"
    %br
    = text_field_tag :access_code
  .field
    = f.label :rulebook_name
    %br
    = f.text_field :rulebook_name
  .field
    = f.label :subdomain
    %br
    = f.text_field :subdomain
    (this cannot be modified after creation)
  .field
    = f.label :front_page
    %br
    = f.text_area :front_page
  .field
    = f.label :faq
    %br
    = f.text_area :faq
  .field
    = f.label :copyright
    %br
    = f.text_field :copyright
  .actions
    = f.submit
