%h1 Existing Rulebook Applications

%table
  %tr
    %th Rulebook name
    %th Subdomain
    %th Creation date
    %th
  - @rulebooks.each do |rulebook|
    %tr
      %td= rulebook.rulebook_name
      %td= rulebook.subdomain
      %td= l rulebook.created_at
      %td= link_to 'Show', rulebook

%br
= link_to 'New Rulebook Application', new_rulebook_path, class: "primary_button"
