%p
  %b Rulebook name:
  = @rulebook.rulebook_name
%p
  %b Proposals allowed:
  = @rulebook.proposals_allowed
%p
  %b Subdomain
  = @rulebook.subdomain
%p
  %b Front page:
  %br
  = raw(@rulebook.front_page)
%p
  %b Faq:
  %br
  = raw(@rulebook.faq)
%b Copyright:
%br
= raw(@rulebook.copyright)
%br
%br
= link_to 'Back', rulebooks_path
