<%= form_for([@proposal, @vote]) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <b>Please choose how you would like to vote:</b><br />
  <div class="field">
    <%= f.radio_button :vote, 'agree' %>
    <%= f.label :vote, 'Agree', :value => 'agree'%><br />

    <%= f.radio_button :vote, 'disagree' %>
    <%= f.label :vote, 'Disagree', :value => 'disagree' %><br />

    <%= f.radio_button :vote, 'abstain' %>
    <%= f.label :vote, 'Abstain', :value => 'abstain' %><br />

    <b><%= f.label :comment, 'Reason for voting this way' %>:</b><br />
    <%= f.text_area :comment %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
