<h1>Listing votes</h1>

<table>
  <tr>
    <th>Proposal</th>
    <th>User</th>
    <th>Vote</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @votes.each do |vote| %>
  <tr>
    <td><%= vote.proposal %></td>
    <td><%= vote.user %></td>
    <td><%= vote.vote %></td>
    <td><%= link_to 'Show', [@proposal, vote] %></td>
    <td><%= link_to 'Edit', edit_proposal_vote_path(@proposal, vote) %></td>
    <td><%= link_to 'Destroy', [@proposal, vote], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vote', new_proposal_vote_path(@proposal) %>
