<p id="notice"><%= notice %></p>

<p>
  <b>Proposal:</b>
  <%= @vote.proposal %>
</p>

<p>
  <b>User:</b>
  <%= @vote.user %>
</p>

<p>
  <b>Vote:</b>
  <%= @vote.vote %>
</p>


<%= link_to 'Edit', edit_proposal_vote_path(@proposal, @vote) %> |
<%= link_to 'Back', proposal_votes_path(@proposal) %>
