<!DOCTYPE html>
<html>
<head>
  <title>Rulebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="top_nav">
        <h1>Rulebook</h1>
    </div>
    <div class="left_nav">
        <ul>
        <li><%= link_to('Home', welcome_index_path) %></li>
        <% if can? :create, Proposal %>
            <li><%= link_to('Submit Proposal', new_proposal_path) %></li>
        <% end %>
        <li><%= link_to('FAQ', welcome_help_path)%></li>
        <% if can? :membership, Committee %>
            <li><%= link_to('Members', membership_committees_path) %></li>
        <% end %>
        <% if can? :passed, Proposal %>
            <li><%= link_to('View Approved Proposals', passed_proposals_path) %></li>
        <% end %>
        <% if can? :read, Committee %>
            <li><%= link_to('Committees (Admin Pages)', committees_path) %></li>
        <% end %>
        <% if can? :manage, AppConfig %>
            <li><%= link_to('App Config (Admin Pages)', app_configs_path) %></li>
        <% end %>
        <% if user_signed_in? %>
            <li><%= link_to('Account Settings', edit_user_registration_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% end %>
        <% if not user_signed_in? %>
            <li><%= link_to('Login', new_user_session_path) %></li>
            <li><%= link_to('Sign-Up', new_user_registration_path) %></li>
        <% end %>
        </ul>
    </div>
    <div class="main_nav">
        <p id="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
        <hr />
        <% if @config.nil? or @config.copyright.blank? %>
          <p>Copyright &copy; 2012 International Unicycling Federation<br /></p>
        <% else %>
          <p>Copyright &copy; <%= @config.copyright %><br /></p>
        <% end %>
        <%= debug(params) if Rails.env.development? %>
    </div>
</body>
</html>
