!!!
%html
  %head
    %title Rulebook
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render "shared/analytics/google"
    :javascript
      tinymce.init({selector:'.js--wysiwyg',
        menubar: false,
        height: 300,
        width: '100%',
        statusbar: false,
        browser_spellcheck : true,
        plugins: 'link table',
        toolbar1: 'bold italic underline strikethrough | bullist numlist | cut copy paste | link unlink | table | undo redo',
        paste_word_valid_elements: 'ol,ul,li,b,strong,i,em,u,ins',
        target_list: false,
        link_title: false})
  %body
    - if content_for?(:top_nav)
      = yield :top_nav
    .main_nav
      %p#notice= notice
      %p.alert= alert
      = content_for(:content) ? yield(:content) : yield
    - if content_for?(:bottom_nav)
      %hr
      = yield :bottom_nav
    = debug(params) if Rails.env.development?
