!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Rulebook"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tag
    = render "shared/analytics/google"
    = render "shared/analytics/google_4"

  %body
    - if content_for?(:top_nav)
      = yield :top_nav
    .off-canvas-wrapper
      .off-canvas-wrapper-inner{ data: { off_canvas_wrapper: true } }
        .off-canvas.position-left#offCanvas{ data: { off_canvas: true } }
        .off-canvas-content{ data: { off_canvas_content: true } }

        #container
          = render "shared/breadcrumbs"
          #main.row
            = render "shared/flashes"
            = content_for(:content) ? yield(:content) : yield
        %a.exit-off-canvas{ href: "#" }
        - if content_for?(:bottom_nav)
          = yield :bottom_nav
        = debug(params) if Rails.env.development?
