<!DOCTYPE html>
<html>
<head>
  <title>Rulebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="top_nav">
        <h1>Rulebook</h1>
    </div>
    <div class="left_nav">
        <ul>
        <li><%= link_to('Home', welcome_index_path) %></li>
        <% if user_signed_in? %>
            <li><%= link_to('Submit Proposal', new_proposal_path)%></li>
            <li><%= link_to('FAQ', welcome_help_path)%></li>
            <li>Members</li>
            <li><%= link_to('View Approved Proposals', passed_proposals_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <% if current_user.admin %>
                <li><%= link_to('Admin (Committee)', committees_path) %></li>
                <% # XXX =link_to('Admin (Users)', users_path) 
                %>
            <% end %>
        <% else %>
            <li><%= link_to('Login', new_user_session_path) %></li>
            <li><%= link_to('Sign-Up', new_user_registration_path) %></li>
        <% end %>
        </ul>
    </div>
    <div class="main_nav">
        <p id="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
        <hr />
        <p>Copyright &copy; 2012 International Unicycling Federation<br /></p>
    </div>
</body>
</html>
