<!DOCTYPE html>
<html>
<head>
  <title>Rulebook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="top_nav">
        <h1>Rulebook</h1>
    </div>
    <div class="left_nav">
        <%= link_to('Main Menu', welcome_index_path) %><br />
        <% if user_signed_in? %>
            <%= link_to('Submit Proposal', new_proposal_path)%><br />
            <%= link_to('FAQ', welcome_help_path)%><br />
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %><br />
            <% if current_user.admin %>
                <%= link_to('Admin (Committee)', committees_path) %><br />
                <%= link_to('Admin (Committee Members)', committee_members_path) %><br />
                <% # XXX =link_to('Admin (Users)', users_path) 
                %><br />
            <% end %>
        <% else %>
            <%= link_to('Login', new_user_session_path) %><br />
            <%= link_to('Sign-Up', new_user_registration_path) %><br />
        <% end %>
    </div>
    <div class="main_nav">
        <p id="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
        <hr />
        <p>Copyright &copy; 2012 International Unicycling Federation<br /></p>
    </div>
</body>
</html>
