<%= form_for([@committee, @committee_member]) do |f| %>
  <% if @committee_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committee_member.errors.count, "error") %> prohibited this committee_member from being saved:</h2>

      <ul>
      <% @committee_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.select(:user_id, @users.map{ |e| [e, e.id]}) %>
  </div>
  <div class="field">
    <%= f.label :admin %><br />
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.label :voting %><br />
    <%= f.check_box :voting %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
