<h1>Listing Members for <%= @committee.to_s %></h1>

<table>
  <tr>
    <th>User</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Voting</th>
    <th></th>
    <th></th>
  </tr>

<% @committee_members.each do |committee_member| %>
  <tr>
    <td><%= committee_member.user %></td>
    <td><%= committee_member.user.email %></td>
    <td><%= committee_member.admin %></td>
    <td><%= committee_member.voting %></td>
    <td><%= link_to 'Edit', edit_committee_committee_member_path(@committee, committee_member) %></td>
    <td>
    <% if can? :destroy, committee_member %>
        <%= link_to 'Destroy', [@committee, committee_member], confirm: 'Are you sure?', method: :delete %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, CommitteeMember %>
    <%= link_to 'New Committee member', new_committee_committee_member_path(@committee) %><br />
<% end %>
<%= link_to 'Back', committees_path %>
